body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



button {
    width: 55px;
    height: 40px;
    margin: 3px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #333;
    color: #fff;
    transition: 0.2s;
}